body {
  font-family: $mulish;
  font-size: $bodyFont;
  color: $textColor;
}

.block-section {
  float: left;
  width: 100%;
}

.container {
  max-width: 1220px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
