//Variablat
//Fonts
$inter: "Inter", sans-serif;
$mulish: "Mulish", sans-serif;
$playfair: "Playfair Display", serif;
$bodyFont: 17px;
//Structure
$containerWidth: 1220px;
//Colors
$textColor: #B8BECD;
$titleColor: #000;
$accent: #FB8F1D;
$accentAlt: #1ABE84;