//Variablat
//Fonts
$inter: "Inter", sans-serif;
$mulish: "Mulish", sans-serif;
$playfair: "Playfair Display", serif;
$bodyFont: 17px;
//Structure
$containerWidth: 1220px;
//Colors
$textColor: #b8becd;
$titleColor: #000;
$accent: #fb8f1d;
$accentAlt: #1abe84;
$bg: #f9f9fb;
