.main-header {
  font-family: $inter;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 16px;
}
.logo {
  float: left;
}

/* .primary-nav ul li a {
  color: $textColor;
  text-decoration: none;
}

.primary-nav ul li {
  margin-right: 34px;
}

.primary-nav ul {
  display: flex;
}
 */

.primary-nav {
  ul {
    display: flex;
  }
  li {
    margin-right: 34px;
  }
  a {
    color: $textColor;
    text-decoration: none;
  }
}
